@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root{
    --primary-color: #FCD34D;
    --medium-grey: #D1D5DB;
}

body{
    font-family:'Roboto', sans-serif; ;
    margin: 3rem 20rem;
}

hr{
    margin: 3rem 0rem;
}

.header{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0rem;
    background-color: var(--medium-grey);
}

.container{
    max-width: 800px;
    margin: auto;
}

.container .container-header{
    margin: 0px;
    border: solid black 1px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
}

.container-item{
    padding: 0.75rem;
}

.container-textbox{
    display: flex;
    justify-content: space-between;
}

textarea{
    font-size: larger;
    padding: 1rem;
    display: inline;
    width: 43vh;
    height: 20vh;
    margin: 0px;
}

.btn{
    border: 1px solid black;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 20%;
    font-size: large;
    font-weight: bold;
    background-color: var(--medium-grey);
    border-radius: 00.5rem;
}